* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.general {
  background: url("../images/bg-intro-desktop.png");
  background-color: $red;
  mix-blend-mode: multiply;
  position: relative;
  height: 100vh;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $poppins;
  font-size: 80%;
}
.mainContainer {
  display: flex;
}
